* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    height: 800px;
    width: 500px;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid black;
    margin: 27.5px;
    height: 157.5px;
    width: 445px;
    gap: 40px;
}

#operatorValue {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#inputValue {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 27.5px;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.num,
.operation,
.allClear,
.clearEntry,
.sign,
.decimal,
.equal {
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}